// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // artists // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#artists {
  position: relative;
  padding-inline: var(--margin-global);
  padding-bottom: 4em;

  #custome-carousel {
    --width: 401.56px; // 320px original
    // -- modifyier
    --height: 802.86px;
    @include media(max, small) {
      --width: 135.51px;
      --height: 270.94px;
    }
    // -- modifyier
    min-width: 100vw;
    margin-inline: calc(50% - 50vw);
    .v-responsive__content {
      display: flex;
      justify-content: space-evenly;
      > * {flex-basis: 260px}
      gap: 1em;
      // padding-inline: 48px;
      padding-block: 20px calc(50px + 40px);
      @include media(max, 370px) {padding-top: 0}
      .v-image {
        --skew: 7deg;
        cursor: pointer;
        box-shadow: 8px 14px 5px 2px rgb(0, 0, 0, .4) !important;
        max-width: var(--width) !important;
        height: var(--height);
        // @include media(max, small) {aspect-ratio: 1 / 2};
        border-radius: .2vmax;
        transform: skew(calc(var(--skew) * -1));
        transition: .2s $ease-return;
        position: relative;
        // -- modifyier
        .v-image__image {
          width: calc(var(--width) * 1.5);
          transform: translateX(calc(var(--width) * -1 / 3.5)) skew(var(--skew));
        }
        @include media(max, 370px) {
          --width: 100vw;
          --skew: 0;
          min-width: 100vw;
          margin-inline: calc(50% - 50vw);
          .v-image__image {
            width: var(--width);
            transform: skew(var(--skew));
          }
        }
        // -- modifyier
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          transition: all .5s $ease-return;
        }
        .v-sheet {
          position: absolute;
          inset: 0;
          padding: 2em;
          display: grid;
          place-items: center;
          background-color: hsl(0, 84%, 58%, .12);
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgb(0, 0, 0, .7);
            transform-origin: left;
            transform: scaleX(0);
            transition: all .5s $ease-return;
          }
          div {
            * {
              opacity: 0;
              transform: translateY(-50%);
              transition: .5s $ease-return;
            }
            h3 {
              font-size: clamp(1.5em, 2vw, 2em);
              font-weight: 600;
              color: #f7931e;
            }
            p {
              font-size: clamp(1em, 1.2vw, 1.2em);
              font-weight: 300;
              display: -webkit-box;
              -webkit-line-clamp: 12;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            @include media(max, small) {font-size: 14px}
          }
        }
        &:hover {
          @include media(min, 370px) {transform: skew(-7deg) scale(1.05)}
          &::after {box-shadow: inset 0 0 0 .5em #fff !important}
          .v-sheet {
            &::before {transform: scaleX(1)}
            div * {
              opacity: 1;
              transform: translateY(90px);
              @include media(max, small) {transform: translateY(0px)}
            }
          }
        }
      }
    }
    .v-carousel__controls {
      .v-item-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 0;
      }
      button {
        background-color: #fff;
        border-radius: 0;
        width: 21.2px;
        height: 21.2px;
        i {display: none}
      }
      .v-btn--active {background-color: var(--active)}
    }
  }

  .container-listed {
    --gtc: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    --margin-bottom: 4em;
    gap: 2em;
    padding-inline: var(--margin-separator);
    padding-bottom: var(--margin-bottom);
    margin-bottom: var(--margin-bottom);
    position: relative;
    // line
    &::after {
      content: "";
      @include absolute(0,auto,0,0);
      width: 100%;
      height: 1px;
      background-color: var(--primary);
    }
  }
}
